/*
Шрифты
 */

/* Обычный */
@font-face {
    font-family: 'Lexend';
    src: url(assets/fonts/static/Lexend-Regular.ttf);
}

/*
Medium
*/

@font-face {
    font-family: 'Lexend';
    src: url(assets/fonts/static/Lexend-Medium.ttf);
    font-weight: 500;
}

/*
SemiBold
 */

@font-face {
    font-family: 'Lexend';
    src: url(assets/fonts/static/Lexend-SemiBold.ttf);
    font-weight: 600;
}


/*
Futura
 */

@font-face {
    font-family: 'Futura';
    src: url(assets/fonts/static/FuturaPT-Light.ttf);
    font-weight: 400;
}

/*
Variables
 */
:root {
    --font-color-primary: #FFFFFF;
    --border-color: #478BF9;
    --button-border-color: #9DADF2;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Lexend, serif;
    font-size: 16px;
    color: var(--font-color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: rgb(18, 13, 35);
    background: linear-gradient(273deg, rgba(18, 13, 35, 1) 0%, rgba(39, 45, 81, 1) 99%);

}

a {
    color: var(--font-color-primary);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.gradient {
    position: absolute;
    z-index: -1;
    transform: rotate(-64.31deg);
    opacity: 30%;
    filter: blur(25px);
    --radius: 67vmax;
    --background: linear-gradient(273deg, rgba(18, 13, 35, 1) 0%, rgba(39, 45, 81, 1) 99%);
    --second-color: #478BF9;
    --background1: rgba(18,13,35,1);
    background-image: radial-gradient(circle at 10px 13px,var(--second-color),
    var(--background1) var(--radius)),
    radial-gradient(circle at 13% 0,
            var(--second-color),
            var(--background1) var(--radius));
    background-blend-mode: lighten;
}

.gradient--first {
    width: 329px;
    height: 1243px;
    left: 13%;
    top: -20%;
}


.gradient--second {
    width: 240px;
    height: 240px;
    background: linear-gradient(255.96deg, #478BF9 0%, #9DADF2 100%);
    top: 78%;
    left: 57%;
}

.nav {
    display: flex;
    padding: 8px;
}

.button {
    border-radius: 24px;
    padding: 14px;
    border: 2px solid var(--button-border-color);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--font-color-primary);
}

.button--primary {
    background-color: transparent;
}

.button--primary:hover {
    opacity: 80%;
}

.button--secondary {
    background-color: var(--border-color);
    border-color: var(--border-color);
}

.button--secondary:hover {
    background-color: transparent;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.h1 {
    font-weight: 500;
    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;
}

.h2 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
}

/*
Header
*/

.header {
    margin: 16px auto auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 4px solid var(--border-color);
    border-radius: 64px;
    padding: 24px 48px 24px 48px;
    position: relative;
    max-width: 1640px;

}

.header__nav {
    margin: auto;
}

.header__actions {
    display: flex;
    gap: 8px;
}

.header__icon {
    width: 16px;
    height: 16px;
}

.header__button--lang {
    display: flex;
    gap: 8px;
}

.menu {
    gap: 32px;
}

.modal {
    width: 100%;
    background: linear-gradient(273deg, rgba(18, 13, 35, 1) 0%, rgba(39, 45, 81, 1) 99%);
    border: 2px solid transparent;
    box-sizing: content-box;
    margin: 0;
    height: 100vh;

}

.modal::backdrop {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/*
Main
*/

.main {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1640px;
    position: relative;
    margin: 8px 140px 160px;

}

/*
Content
 */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    max-width: 670px;
}

.content__heading {
    color: var(--font-color-primary);
    margin: 0 0 16px;
}

.content__heading--blue {
    color: var(--border-color);
}

.content__text {
    color: #FFFFFF99;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 40px;
}

.content__button {
    border-radius: 48px;
    padding: 20px 72px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33;
    text-align: center;
    width: fit-content;
}

/*
Animation
 */

@keyframes infinite_vertical_movement{

    from {
        top: -10%;
    }
    to {
        top: 40%;
    }
}


/*
decoration
 */



.decoration {
    display: flex;
    gap:16px;
}

.chips {
    display: flex;
    flex-direction: column;
    gap: 36px;
}


.chip {
    width: 99px;
    height: 99px;
    position: relative;
}

.chips__item {
    animation-name: infinite_vertical_movement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20000, end);
    animation-delay: -2.5s;
    animation-fill-mode: backwards;
}


.chips--reverse .chip {
    animation-direction: reverse;
}

.chip--long {
    height: 220px;
}

.chips--first {
    opacity: 20%;
}

.chips--second {
    opacity: 60%;
}

.chips--thirth {
    opacity: 40%;
}

/*
Blog
 */

.blog {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    justify-content: center;
    position: relative;
}

.blog__list {
    display: flex;
    flex-direction: column;
    max-height: 595px;
    width: 100%;
    border-radius: 100px;
    border: 3px solid var(--border-color);
    gap: 16px;
    padding: 24px 40px 0 24px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #37354B;
    scrollbar-width: 8px;
    scrollbar-color:  #FFFFFF1F;


}


.blog__list::-webkit-scrollbar {
   width: 40px;
}

.blog__list::-webkit-scrollbar-thumb {
    background: var(--border-color);
    width: 40px;
    border-radius: 19px;
    background-clip: content-box;
    border: 16px solid #37354B;
    border-bottom: none;
    border-top: none;

}
.blog__list::-webkit-scrollbar-track {
    border-radius: 21px;
    background-color: #FFFFFF1F;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 40px;
    background-clip: content-box;
    border: 16px solid #37354B;

}


.blog__heading {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 50px;
}

.blog__item {
    border-radius: 196px;
    padding: 16px 64px;
    background: #1E1231;


}

.blog__item:hover {
    background: #478BF9;
    cursor: pointer;
}

.blog__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.17;
}

.blog__date {
    font-family: Futura;
    font-size: 0.875rem;
    line-height: 1.143;
    font-weight: 400;
    color: #FFFFFF99;

}

/*
Footer
 */

.footer {
    width: 100%;
    border-radius: 64px 64px 0px 0px;
    border: 4px solid var(--border-color);
    border-bottom-width: 0px;
    padding: 40px 140px 24px 140px;
    background-color: #1D1232;
    max-height: 130px;
    display: flex;

}

@media (max-width: 1180px) {

    .h1 {
        font-size: 2.875rem;
        line-height: 1.087;
    }

    .h2 {
        font-size: 2rem;
        line-height: 1.25;
    }

    /*
    Header
     */
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .header {
        padding: 10px 14px 10px 14px;
        margin: 10px;
        border-width: 2px;
        min-width: 250px;
    }

    .header__button {
        padding: 8px;
        border-width: 2px;
    }

    .header__icon {
        width: 24px;
        height: 24px;
    }

    .modal .menu {
        flex-direction: column;
        gap: 30px;
    }

    .header__button--menu,
    .header__button--close {
        padding: 4px;
        border: none;
    }

    .header__icon--menu,
    .header__icon--close {
        width: 36px;
        height: 36px;
        cursor: pointer;
    }

    .modal .menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-sizing: border-box;
        padding: 0;
    }

    .modal .menu__point {
        width: 100%;
        border-radius: 28px;
        border: 2px solid var(--border-color);
        padding: 13px 20px;

    }

    .modal .header__actions--first {
        width: 100%;
        border-radius: 64px;
        border: 2px solid var(--border-color);
        padding: 10px 14px;
        margin-bottom: 22px;
        box-sizing: border-box;
        justify-content: flex-end;
    }

    .modal .header__actions--second {
        margin-top: 22px;
        box-sizing: border-box;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .header__actions--second .header__button {
        width: 100%;
        padding: 13px 20px;
    }

    /*
    Main
     */
    .main {

        padding: 60px 10px;
        margin: 10px;
        border-width: 2px;
        min-width: 250px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .content__heading {
        margin: 0 0 12px;
        text-align: center;
    }


    .content__text {
        font-size: 1.25rem;
        line-height: 1.3;
        margin: 0px 0px 16px;
        text-align: center;
    }

    .content__button {
        padding: 15px 20px;
        font-size: 1.125rem;
        line-height: 1.25;
        width: 100%;
    }

    .decoration {
        flex-direction: column;
        gap: 7px;
    }

    .chips {
        flex-direction: row;
        gap: 12px;
        max-height: 49px;
    }

    .chip {
        width: 49px;
        height: 49px;
    }

    .chip--long {
        height: 109px;
        transform: translateY(-28%) rotate(90deg);
        margin-right: 25px;
        margin-left: 25px;
    }

    @keyframes infinite_horizontal_movement{

        from {
            left: -100%;
        }
        to {
            left: 100%;
        }
    }

    .chips__item {
        animation-name: infinite_horizontal_movement;
        animation-duration: 3s;
    }

    .gradient--first {
        width: 286px;
        height: 442px;
        left: -1%;
        top: -6%;
    }

    .blog__heading {
        text-align: center;
        margin-bottom: 18px;
        margin-top: 0;
    }

    .blog__list {
        max-height: 421px;
        border-radius: 50px;
        border-width: 2px;
        padding: 8px 20px 0 8px;
    }

    .blog__list::-webkit-scrollbar {
        width: 20px;
    }

    .blog__list::-webkit-scrollbar-thumb {
        width: 20px;
        border: 8px solid #37354B;
        border-bottom: none;
        border-top: none;

    }
    .blog__list::-webkit-scrollbar-track {
        border-radius: 21px;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 20px;
        background-clip: content-box;
        border: 8px solid #37354B;



    }

    .blog__item {
        border-radius: 40px;
        padding: 15px 35px;
    }

    .blog__text {
        font-size: 1rem;
        line-height: 1.25;
    }

    .footer {
        border-radius: 50px 50px 0px 0px;
        border-width: 2px;
        border-bottom-width: 0px;
        padding: 20px;
        max-height: 233px;
        flex-direction: column;

    }
}



