/*
Шрифты
 */

/* Обычный */
@font-face {
    font-family: 'Lexend';
    src: url(assets/fonts/static/Lexend-Regular.ttf);
}

/*
Medium
*/

@font-face {
    font-family: 'Lexend';
    src: url(assets/fonts/static/Lexend-Medium.ttf);
    font-weight: 500;
}

/*
SemiBold
 */

@font-face {
    font-family: 'Lexend';
    src: url(assets/fonts/static/Lexend-SemiBold.ttf);
    font-weight: 600;
}

/*
Variables
 */
:root {
    --font-color-primary: #FFFFFF;
    --border-color: #478BF9;
    --button-border-color: #9DADF2;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Lexend, serif;
    font-size: 16px;
    color: var(--font-color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: rgb(18, 13, 35);
    background: linear-gradient(273deg, rgba(18, 13, 35, 1) 0%, rgba(39, 45, 81, 1) 99%);

}

a {
    color: var(--font-color-primary);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav {
    display: flex;
    padding: 8px;
}

.button {
    border-radius: 24px;
    padding: 14px;
    border: 2px solid var(--button-border-color);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--font-color-primary);
}

.button--primary {
    background-color: transparent;
}

.button--primary:hover {
    opacity: 80%;
}

.button--secondary {
    background-color: var(--border-color);
    border-color: var(--border-color);
}

.button--secondary:hover {
    background-color: transparent;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.h1 {
    font-weight: 500;
    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;
}

/*
Header
*/

.header {
    margin: 16px auto auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 4px solid var(--border-color);
    border-radius: 64px;
    padding: 24px 48px 24px 48px;
    position: relative;
    max-width: 1640px;

}

.header__nav {
    margin: auto;
}

.header__actions {
    display: flex;
    gap: 8px;
}

.header__icon {
    width: 16px;
    height: 16px;
}

.header__button--lang {
    display: flex;
    gap: 8px;
}

.menu {
    gap: 32px;
}

.modal {
    width: 100%;
    background: linear-gradient(273deg, rgba(18, 13, 35, 1) 0%, rgba(39, 45, 81, 1) 99%);
    border: 2px solid transparent;
    box-sizing: content-box;
    margin: 0;
    height: 100vh;

}

.modal::backdrop {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/*
Main
*/

.main {
    margin: 8px 140px auto;
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1640px;

}

/*
Content
 */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    max-width: 670px;
}

.content__heading {
    color: var(--font-color-primary);
    margin: 0 0 16px;
}

.content__heading--blue {
    color: var(--border-color);
}

.content__text {
    color: #FFFFFF99;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 40px;
}

.content__button {
    border-radius: 48px;
    padding: 20px 72px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33;
    text-align: center;
    width: fit-content;
}

/*
Animation
 */

@keyframes infinite_vertical_movement{

    from {
        top: -10%;
    }
    to {
        top: 110%;
    }
}





/*
decoration
 */



.decoration {
    display: flex;
    gap:16px;
}

.chips {
    display: flex;
    flex-direction: column;
    gap: 36px;
}


.chip {
    width: 99px;
    height: 99px;
    position: relative;
}

.chips__item {
    animation-name: infinite_vertical_movement;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20000, end);
    animation-delay: -2.5s;
    animation-fill-mode: backwards;
}


.chips--reverse .chip {
    animation-direction: reverse;
}

.chip--long {
    height: 220px;
}

.chips--first {
    opacity: 20%;
}

.chips--second {
    opacity: 60%;
}

.chips--thirth {
    opacity: 40%;
}


@media (max-width: 1180px) {

    .h1 {
        font-size: 2.875rem;
        line-height: 1.087;
    }

    /*
    Header
     */
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .header {
        padding: 10px 14px 10px 14px;
        margin: 10px;
        border-width: 2px;
        min-width: 250px;
    }

    .header__button {
        padding: 8px;
        border-width: 2px;
    }

    .header__icon {
        width: 24px;
        height: 24px;
    }

    .modal .menu {
        flex-direction: column;
        gap: 30px;
    }

    .header__button--menu,
    .header__button--close {
        padding: 4px;
        border: none;
    }

    .header__icon--menu,
    .header__icon--close {
        width: 36px;
        height: 36px;
        cursor: pointer;
    }

    .modal .menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-sizing: border-box;
        padding: 0;
    }

    .modal .menu__point {
        width: 100%;
        border-radius: 28px;
        border: 2px solid var(--border-color);
        padding: 13px 20px;

    }

    .modal .header__actions--first {
        width: 100%;
        border-radius: 64px;
        border: 2px solid var(--border-color);
        padding: 10px 14px;
        margin-bottom: 22px;
        box-sizing: border-box;
        justify-content: flex-end;
    }

    .modal .header__actions--second {
        margin-top: 22px;
        box-sizing: border-box;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .header__actions--second .header__button {
        width: 100%;
        padding: 13px 20px;
    }

    /*
    Main
     */
    .main {

        padding: 60px 10px;
        margin: 10px;
        border-width: 2px;
        min-width: 250px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .content__heading {
        margin: 0 0 12px;
        text-align: center;
    }


    .content__text {
        font-size: 1.25rem;
        line-height: 1.3;
        margin: 0px 0px 16px;
        text-align: center;
    }

    .content__button {
        padding: 15px 20px;
        font-size: 1.125rem;
        line-height: 1.25;
        width: 100%;
    }

    .decoration {
        flex-direction: column;
        gap: 7px;
    }

    .chips {
        flex-direction: row;
        gap: 12px;
        max-height: 49px;
    }

    .chip {
        width: 49px;
        height: 49px;
    }

    .chip--long {
        height: 109px;
        transform: translateY(-28%) rotate(90deg);
        margin-right: 25px;
        margin-left: 25px;
    }

    @keyframes infinite_horizontal_movement{

        from {
            left: -100%;
        }
        to {
            left: 100%;
        }
    }

    .chips__item {
        animation-name: infinite_horizontal_movement;
        animation-duration: 3s;
    }
}



